
@import 'ember-bootstrap/bootstrap';

@import 'layout';

@import 'ember-power-select';

.cursor-pointer {
  cursor: pointer;
}

.cursor-not {
  cursor: not-allowed;
}

.navbar-dark .nav-item .file-upload {
  a {
    @extend .btn-outline-light;
  }

  a:hover {
    @extend .btn-outline-light:hover;
  }
}

@include text-emphasis-variant(".text-warning", darken($warning, 5));

@media print {
  a {
    color: inherit;
    text-decoration: none !important;
  }

  .md-report {
    .nav-item {
      margin: 0;

      &:not(.active) {
        display: none;
      }

      .nav-link {
        border: 0;
        color: $primary;
        font-size: x-large;
        font-weight: 900;

        &::after {
          content: 'Report';
        }
      }
    }
  }
}

@import 'ember-basic-dropdown';

.expanded-chart {
  width: 2000px;
}

.md-mask {
  background-color: transparentize($gray-600, .3);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1050;
}

.md-mask-content {
  position: relative;
  z-index: 1051;
  //margin-bottom: 2rem;
}

.md-report {
  ol:first-child > li:first-child > div > .comp-title {
    border-top: 0 !important;
  }
}
