
@import 'ember-bootstrap/bootstrap';

@import 'layout';

@import 'ember-power-select';

.cursor-pointer {
  cursor: pointer;
}

.cursor-not {
  cursor: not-allowed;
}

.navbar-dark .nav-item .file-upload {
  a {
    @extend .btn-outline-light;
  }

  a:hover {
    @extend .btn-outline-light:hover;
  }
}

@include text-emphasis-variant(".text-warning", darken($warning, 5));

@media print {
  a {
    text-decoration: none !important;
    color: inherit;
  }
}

@import 'ember-basic-dropdown';

.expanded-chart {
  width: 2000px;
}
