{{#each (sort-by "order" modules) as |mod index|}}
  {{md-report/component model=mod parentItem=parentItem index=index sections=sections}}
  {{else}}
  <li>
    <div class="alert alert-warning text-center mb-auto mx-auto">
      <h1>{{fa-icon "exclamation-triangle"}} Nothing to report</h1>
      <p>You need to create some modules first.</p>
    </div>
  </li>
{{/each}}
